.skill-section-container {
  padding: 2%;
  background-color: var(--black);
  border-top: 2px solid var(--primary);
}
.skills-heading {
  font-family: "Share Tech Mono", monospace;
  color: var(--secondary);
}
.skills-list {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--secondary);
  list-style: none;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2rem;
  grid-gap: 4rem;
  place-items: center;
  width: 98%;
}
.skill-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  color: var(--secondary);
  font-family: "Source Sans Pro", sans-serif;
}
.skill {
  height: 5rem;
  width: 5rem;
  position: relative;
}

@media (max-width: 900px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .skills-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
